<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>800</integer>
	<key>capHeight</key>
	<integer>637</integer>
	<key>copyright</key>
	<string>Copyright (c) 2016 by Figs Lab</string>
	<key>descender</key>
	<integer>-200</integer>
	<key>familyName</key>
	<string>Datalegreya</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>macintoshFONDFamilyID</key>
	<integer>128</integer>
	<key>macintoshFONDName</key>
	<string>Datalegreya Gradient</string>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>9</integer>
	<key>openTypeHheaAscender</key>
	<integer>900</integer>
	<key>openTypeHheaDescender</key>
	<integer>-300</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameCompatibleFullName</key>
	<string>Datalegreya Gradient</string>
	<key>openTypeNameDesigner</key>
	<string>Figs Lab</string>
	<key>openTypeNameDesignerURL</key>
	<string>www.figs-lab.com</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Figs Lab</string>
	<key>openTypeNameManufacturerURL</key>
	<string>www.figs-lab.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Datalegreya</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Gradient</string>
	<key>openTypeNameUniqueID</key>
	<string>FigsLab: Datalegreya Dot: 2016</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.002;PS 001.002;hotconv 1.0.70;makeotf.lib2.5.58329 DEVELOPMENT</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>4</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>29</integer>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>271</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>20</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>75</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>350</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>800</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-200</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>29</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string></string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>932</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>300</integer>
	<key>postscriptBlueFuzz</key>
	<integer>0</integer>
	<key>postscriptBlueScale</key>
	<real>0.037</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-12</integer>
		<integer>0</integer>
		<integer>452</integer>
		<integer>464</integer>
		<integer>491</integer>
		<integer>503</integer>
		<integer>586</integer>
		<integer>598</integer>
		<integer>637</integer>
		<integer>649</integer>
		<integer>700</integer>
		<integer>712</integer>
	</array>
	<key>postscriptDefaultWidthX</key>
	<integer>500</integer>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>Datalegreya-Gradient</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>Datalegreya Gradient</string>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-197</integer>
		<integer>-185</integer>
		<integer>-105</integer>
		<integer>-93</integer>
	</array>
	<key>postscriptSlantAngle</key>
	<real>0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>20</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>20</integer>
		<integer>20</integer>
		<integer>20</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-190</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>20</integer>
	<key>postscriptUniqueID</key>
	<integer>-1</integer>
	<key>postscriptWeightName</key>
	<string>Normal</string>
	<key>postscriptWindowsCharacterSet</key>
	<integer>16</integer>
	<key>styleMapFamilyName</key>
	<string>Datalegreya Gradient</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Gradient</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>2</integer>
	<key>xHeight</key>
	<integer>452</integer>
	<key>year</key>
	<integer>2016</integer>
</dict>
</plist>
