<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>-60</integer>
		<key>U</key>
		<integer>1</integer>
		<key>V</key>
		<integer>-11</integer>
		<key>X</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-40</integer>
		<key>asterisk</key>
		<integer>-100</integer>
		<key>colon</key>
		<integer>-5</integer>
		<key>comma</key>
		<integer>-5</integer>
		<key>periodcentered</key>
		<integer>-55</integer>
		<key>semicolon</key>
		<integer>-5</integer>
	</dict>
	<key>AE</key>
	<dict>
		<key>periodcentered</key>
		<integer>-41</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>T</key>
		<integer>5</integer>
		<key>V</key>
		<integer>5</integer>
		<key>Y</key>
		<integer>10</integer>
		<key>asterisk</key>
		<integer>-51</integer>
		<key>comma</key>
		<integer>-51</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>A</key>
		<integer>5</integer>
		<key>C</key>
		<integer>-10</integer>
		<key>periodcentered</key>
		<integer>-36</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-23</integer>
		<key>Y</key>
		<integer>-29</integer>
		<key>asterisk</key>
		<integer>-41</integer>
		<key>comma</key>
		<integer>-50</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-25</integer>
		<key>C</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>30</integer>
		<key>S</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>20</integer>
		<key>V</key>
		<integer>10</integer>
		<key>Y</key>
		<integer>10</integer>
		<key>asterisk</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-105</integer>
		<key>periodcentered</key>
		<integer>1</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>A</key>
		<integer>10</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>A</key>
		<integer>-5</integer>
		<key>comma</key>
		<integer>-30</integer>
		<key>periodcentered</key>
		<integer>-30</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>C</key>
		<integer>-23</integer>
		<key>comma</key>
		<integer>-5</integer>
		<key>periodcentered</key>
		<integer>-60</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>A</key>
		<integer>8</integer>
		<key>C</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-35</integer>
		<key>U</key>
		<integer>10</integer>
		<key>V</key>
		<integer>-45</integer>
		<key>Y</key>
		<integer>-40</integer>
		<key>asterisk</key>
		<integer>-110</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>V</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-5</integer>
		<key>asterisk</key>
		<integer>-61</integer>
		<key>comma</key>
		<integer>-5</integer>
		<key>periodcentered</key>
		<integer>-30</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>T</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>asterisk</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-200</integer>
		<key>periodcentered</key>
		<integer>-85</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>C</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>U</key>
		<integer>-25</integer>
		<key>V</key>
		<integer>-25</integer>
		<key>Y</key>
		<integer>-29</integer>
		<key>asterisk</key>
		<integer>10</integer>
		<key>comma</key>
		<integer>-10</integer>
		<key>periodcentered</key>
		<integer>-85</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>T</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>5</integer>
		<key>comma</key>
		<integer>-81</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>C</key>
		<integer>-50</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>colon</key>
		<integer>-80</integer>
		<key>comma</key>
		<integer>-84</integer>
		<key>periodcentered</key>
		<integer>-70</integer>
		<key>semicolon</key>
		<integer>-80</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>1</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>periodcentered</key>
		<integer>-30</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-11</integer>
		<key>C</key>
		<integer>-10</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>S</key>
		<integer>-18</integer>
		<key>Y</key>
		<integer>-5</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>periodcentered</key>
		<integer>-91</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>C</key>
		<integer>-29</integer>
		<key>M</key>
		<integer>-5</integer>
		<key>S</key>
		<integer>10</integer>
		<key>V</key>
		<integer>-5</integer>
		<key>comma</key>
		<integer>-101</integer>
		<key>periodcentered</key>
		<integer>-39</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>comma</key>
		<integer>-10</integer>
	</dict>
	<key>asterisk</key>
	<dict>
		<key>A</key>
		<integer>-70</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>10</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>C</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-84</integer>
		<key>U</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-100</integer>
		<key>Y</key>
		<integer>-101</integer>
		<key>asterisk</key>
		<integer>-80</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>eight.numr</key>
	<dict>
		<key>fraction</key>
		<integer>10</integer>
	</dict>
	<key>five.numr</key>
	<dict>
		<key>fraction</key>
		<integer>5</integer>
	</dict>
	<key>four.numr</key>
	<dict>
		<key>fraction</key>
		<integer>35</integer>
	</dict>
	<key>fraction</key>
	<dict>
		<key>five.dnom</key>
		<integer>40</integer>
		<key>nine.dnom</key>
		<integer>20</integer>
		<key>one.dnom</key>
		<integer>110</integer>
		<key>seven.dnom</key>
		<integer>50</integer>
		<key>six.dnom</key>
		<integer>-10</integer>
		<key>three.dnom</key>
		<integer>40</integer>
	</dict>
	<key>nine.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-24</integer>
	</dict>
	<key>one.numr</key>
	<dict>
		<key>fraction</key>
		<integer>35</integer>
	</dict>
	<key>periodcentered</key>
	<dict>
		<key>A</key>
		<integer>-55</integer>
		<key>B</key>
		<integer>-30</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>M</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-70</integer>
		<key>U</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-91</integer>
		<key>X</key>
		<integer>-60</integer>
		<key>Y</key>
		<integer>-39</integer>
		<key>Z</key>
		<integer>26</integer>
		<key>space</key>
		<integer>-20</integer>
	</dict>
	<key>question</key>
	<dict>
		<key>asterisk</key>
		<integer>40</integer>
	</dict>
	<key>seven.numr</key>
	<dict>
		<key>fraction</key>
		<integer>-15</integer>
	</dict>
	<key>six.numr</key>
	<dict>
		<key>fraction</key>
		<integer>30</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>asterisk</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>periodcentered</key>
		<integer>-20</integer>
	</dict>
	<key>three.numr</key>
	<dict>
		<key>fraction</key>
		<integer>15</integer>
	</dict>
	<key>two.numr</key>
	<dict>
		<key>fraction</key>
		<integer>45</integer>
	</dict>
</dict>
</plist>
